{{ define "main"}}
  <h1>{{ .Title }}</h1>
  {{ partial "header-single.html" . }}
  <!-- tags -->
  {{ if .Param "tags" }}
  <div id="tags">
    <ul>
      {{ range .Param "tags" }}
        {{ $name := . }}
        {{ with $.Site.GetPage (printf "/tags/%s" ($name | urlize)) }}
          <li><a href="{{ .Permalink }}">{{ $name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
  {{ end }}
  <!-- content -->
  <div id="contentBody">
    {{ .Content }}
  </div>
  {{ partial "footer.html" . }}
{{ end }}
